<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVeY4G_JWKH2g2HB_sz5Us4_2PLFNwOnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>798973735070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videoEditPlayer</string>
	<key>PROJECT_ID</key>
	<string>newcodev-5c41f</string>
	<key>STORAGE_BUCKET</key>
	<string>newcodev-5c41f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798973735070:ios:c42a418e835f80e1de0b8f</string>
	<key>DATABASE_URL</key>
	<string>https://newcodev-5c41f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>